<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('../partials/head', {title: 'Resultados de tu búsqueda'}) %> ;
<body>

    <!-- header -->
    <%- include('../partials/headerNavbar') %> 

    <!-- productos -->
    <div>
        <div>
            <div>
                <h2>Resultados de la búsqueda: <%= search %></h2>
            </div>
            <% if(products.length > 0) { %>
               <% products.forEach(function(product){ %>
                   <% let finalPrice = (product.price * ((100 - product.discount) / 100)).toFixed(0) %>
                    <div>
                        <section>
                            <a href='/products/detail/<%= product.id %>'>
                                <figure>
                                    <img src="/images/products/<%= product.image %>" alt="imagen de producto">
                                </figure>
                                <article>
                                    <h2>$<%= toThousand(finalPrice) %></h2>
                                    <span><%= product.discount %>% OFF</span>
                                    <p><%= product.name %> </p>
                                    <i class='fas fa-truck'></i>
                                </article>
                            </a>
                        </section>
                    </div>
            <% })}else{ %>
                <div>
                    <h2>No hay productos que coincidan con esa búsqueda</h2>
                </div>
          <% } %>
        </div>
    </div>

    <!-- footer -->
    <%- include('../partials/footer') %> 
    
</body>
</html>